In [6]:
import pandas as pd
x = pd.read_csv('c:\pythonexercise\ibm.csv')
x[1:10]

         Open        High         Low       Close   Adj Close   Volume
1  150.570007  150.720001  148.380005  150.380005  143.451904  3742200
2  150.119995  151.449997  149.199997  150.029999  143.118011  2952400
3  149.820007  150.619995  148.610001  150.389999  143.461426  3102100
4  151.000000  151.410004  150.100006  151.360001  144.386734  2904300
5  151.110001  151.479996  150.320007  150.880005  143.928864  2075500
6  150.000000  150.399994  149.220001  149.770004  142.870010  2632700
7  149.699997  150.179993  146.389999  148.240005  141.410492  3722900
8  148.899994  152.820007  148.500000  150.320007  143.394653  6344000
9  149.029999  152.949997  145.589996  147.250000  140.466095  8101700

In [7]:
type(x)

pandas.core.frame.DataFrame

In [9]:
import numpy as np
x = np.array([[1,2],[3,4],[5,6]])

In [10]:
y=x.flatten()

In [11]:
y

array([1, 2, 3, 4, 5, 6])

x2

In [18]:
x2 = np.reshape(y,[2,3])